name: CI Pipeline

# Trigger the workflow on push to main branch
on: 
  push:
    branches: [ "main" ]
  pull_request:
      branches: [ "main" ]

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
        #Checkout repo code
        - name : Checkout code
          uses: actions/checkout@v3

        # Set up python
        - name: Set up Python 3.10
          uses: actions/setup-python@v4
          with:
            python-version: '3.10'
        # Install dependencies
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pytest flake8
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
            python -m spacy download en_core_web_sm
        # Lint w/ flake8
        - name: Lint with flake8
          run: |
            # stop the build if there are Python syntax errors or undefined names
            flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
            # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
            flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        # Run tests w pytest
        - name: Run tests with pytest
          run: |
            pytest tests/